//- To use this file,
//-
//-   meteor add mquandalle:jade
//-
//- and delete app.html

head
  meta(name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no")

template(name="layout")
  +famousContext id="mainCtx"
    +HeaderFooterLayout headerSize="45" footerSize="0"
      +Surface target="header" translate="[0,0,100]"
        +header
      +RenderController target="content" transition="opacity"
        +yield

template(name="header")
  div#header
    a#brand(href="/") fview-quickstart
    a(href="/") Home
    a(href="/page2") Page 2
    a(href="/page3") Page 3

template(name="home")
  +Surface class="page"
    h1 famous-views Quick Start
    p Thanks for joining us!  Your project is ready for editing.
    p A few more things to help you on your way
    ul
      li
        p
          | For
          b Jade
          | :
          code meteor add mquandalle:jade
          | and delete
          code client/app.html
          | .  There is a
          code client/app.jade
          | ready and waiting for you.
      li
        p
          | For
          b CoffeeScript
          | :
          code meteor add coffeescript
          | and
          | delete
          code lib/routing.js
          | .  There is a
          code lib/routing.coffee
          | ready and waiting for you.
    p
      | Make sure to check out the rest of
      a(href='http://famous-views.meteor.com') famous-views.meteor.com
      | to be aware of all your options, help for animations, etc.
    a(href='/page2') Example Page 2

template(name="page2")
  +Surface class="page" watchSize="true" size="[true]"
    h1 Welcome to Page 2
    p
      | Change your transition type on the
      code #Rendercontroller
      | in your layout template.
    a(href="/") Back to Home

template(name="page3")
  +Scrollview proportions='[.5,1]'
    +Surface class="page" size="[undefined,true]" watchSize="true"
      h1 Welcome to Page 3
      p
        | Change your transition type on the
        code #Rendercontroller
        | in your layout template.
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec justo dui, rhoncus eget ultricies et, commodo vitae massa. Proin urna lorem, egestas vitae semper quis, egestas id nibh. Cras sit amet est quis dolor rhoncus aliquam. Vivamus laoreet in quam quis placerat. Sed lacinia in dolor sed cursus. Aliquam erat volutpat. Nulla semper, libero ac sagittis finibus, dui magna fermentum augue, quis scelerisque ex enim sit amet justo. Nullam semper, ipsum quis convallis malesuada, mi dui sollicitudin leo, eget auctor arcu justo ut felis. Quisque metus lectus, dignissim nec tempor eget, posuere sed nisi. Aenean accumsan sed lacus dignissim euismod. Duis venenatis, leo ut vulputate ultrices, dolor mi pretium dolor, non elementum risus libero in lectus. Suspendisse velit libero, malesuada sit amet augue laoreet, lacinia tincidunt lorem.
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec justo dui, rhoncus eget ultricies et, commodo vitae massa. Proin urna lorem, egestas vitae semper quis, egestas id nibh. Cras sit amet est quis dolor rhoncus aliquam. Vivamus laoreet in quam quis placerat. Sed lacinia in dolor sed cursus. Aliquam erat volutpat. Nulla semper, libero ac sagittis finibus, dui magna fermentum augue, quis scelerisque ex enim sit amet justo. Nullam semper, ipsum quis convallis malesuada, mi dui sollicitudin leo, eget auctor arcu justo ut felis. Quisque metus lectus, dignissim nec tempor eget, posuere sed nisi. Aenean accumsan sed lacus dignissim euismod. Duis venenatis, leo ut vulputate ultrices, dolor mi pretium dolor, non elementum risus libero in lectus. Suspendisse velit libero, malesuada sit amet augue laoreet, lacinia tincidunt lorem.
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec justo dui, rhoncus eget ultricies et, commodo vitae massa. Proin urna lorem, egestas vitae semper quis, egestas id nibh. Cras sit amet est quis dolor rhoncus aliquam. Vivamus laoreet in quam quis placerat. Sed lacinia in dolor sed cursus. Aliquam erat volutpat. Nulla semper, libero ac sagittis finibus, dui magna fermentum augue, quis scelerisque ex enim sit amet justo. Nullam semper, ipsum quis convallis malesuada, mi dui sollicitudin leo, eget auctor arcu justo ut felis. Quisque metus lectus, dignissim nec tempor eget, posuere sed nisi. Aenean accumsan sed lacus dignissim euismod. Duis venenatis, leo ut vulputate ultrices, dolor mi pretium dolor, non elementum risus libero in lectus. Suspendisse velit libero, malesuada sit amet augue laoreet, lacinia tincidunt lorem.
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec justo dui, rhoncus eget ultricies et, commodo vitae massa. Proin urna lorem, egestas vitae semper quis, egestas id nibh. Cras sit amet est quis dolor rhoncus aliquam. Vivamus laoreet in quam quis placerat. Sed lacinia in dolor sed cursus. Aliquam erat volutpat. Nulla semper, libero ac sagittis finibus, dui magna fermentum augue, quis scelerisque ex enim sit amet justo. Nullam semper, ipsum quis convallis malesuada, mi dui sollicitudin leo, eget auctor arcu justo ut felis. Quisque metus lectus, dignissim nec tempor eget, posuere sed nisi. Aenean accumsan sed lacus dignissim euismod. Duis venenatis, leo ut vulputate ultrices, dolor mi pretium dolor, non elementum risus libero in lectus. Suspendisse velit libero, malesuada sit amet augue laoreet, lacinia tincidunt lorem.
      a(href="/") Back to Home
